.contenedorInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin: auto;
    border: solid 0.5px;
    border-color: #e9ecef;
    border-radius: 10px;
}
.contenedorClima{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto
}
.boton{
    margin-left: 91%;
    margin-top: 2%;
    width: 33px;
    color: white;
    background-color: #dc3545;
    border-radius: 20%;
    border-color: #dc3545;
}
